<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>Prime Luxe Cars</title>
    <link rel="icon" href="./favicon.png">
</head>
<body>
    <!-- Navbar Start -->
    <app-header></app-header>
    <!-- Navbar End -->

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
          <h1>Welcome to My Website</h1>
          <p>Your success starts here</p>
        </div>
      </section>
    <!-- Hero Section End-->

    <!-- Main Section -->
    <main id="mainContent"></main>
    <!-- Main Section End-->    
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Luxury Cars. All rights reserved.</p>
        </div>
    </footer>
    <!-- Footer End -->
    <script type="module" src="./index.js"></script>
</body>
</html>
