<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="manifest" href="app.webmanifest">
    <title>Prime Luxe Cars</title>
    <link rel="icon" href="./favicon.png">
</head>
<body>
    <!-- Navbar Start -->
    
    <!-- Navbar End -->

    <!-- Main Section -->
    <main id="mainContent"></main>
    <!-- Main Section End-->  
 
    <!-- Footer -->
      
    <!-- Footer End -->
    <script type="module" src="./index.js"></script>
</body>
</html>
