* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: black;
    background-color: #f9f9f9;
  }

  .hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url('../public/images/heros/hero2.jpg');
    background-position: center;
    background-size: cover; /* Pastikan gambar menutupi seluruh area */
    background-repeat: no-repeat; /* Mencegah gambar diulang */
    justify-content: center;
}
